.donateBox {
    position: relative;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}

#coinButton {
    position: absolute;
    width: 50px;
    height: 50px;
    left: -30px;
    top: -4px;
    z-index: 2;
}
@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.95); }
    100% { -webkit-transform: scale(1); }
}
@keyframes thumb {
    0% { transform: scale(1); }
    50% { transform: scale(0.95); }
    100% { transform: scale(1); }
}
#logo {
     width: 50px;
     height: 50px;
}

#coinButton:hover
{
    cursor: pointer;
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 20;
    -webkit-animation-timing-function: linear;
    animation-name: thumb;
    animation-duration: 200ms;
    transform-origin:50% 50%;
    animation-iteration-count: 20;
    animation-timing-function: linear;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'Comic Sans MS';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-indent: 14px;
    vertical-align: middle;
    line-height: 40px;

    background-color: #bb9900;
    border: 1px solid #8c7a2d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#address {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
    
    background-color: #bb9900;
    border: 1px solid #8c7a2d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}